body {
}

#toppic{
    height:10vw;
    width:100vw;
    background-image:url("../images/Camping1.jpg");
    background-size:cover;
    background-position-y:-20vw;    
}

@media screen and (max-width: 767px) {
    /* Hide captions */
    #toppic {
        height: 30vw;
        background-position-y: -10vw;
    }
}

.top10 {margin-top:10px;}

.pad2{padding:2px;}

.bold{font-weight:bold;}