@{
    ViewData["Title"] = "About";
}

<h3>@ViewData["Message"]</h3>

<p>CrowdCamp started in 2017 out of a need to desire to find campspots in parts of Utah that we have never visited. As well as a way to share our knowledge with others.</p>
