@{
    ViewData["Title"] = "About";
}


<div class="container">
    <div class="row">
        <div class="col-xs-10 col-md-4"></div>
    <div class="col-xs-10 col-md-4">
        <h3>@ViewData["Message"]</h3>
        CrowdCamp started in 2017 out of a need to desire to find campspots in parts of Utah
        that we have never visited. As well as a way to share our knowledge with others.
    </div>
        </div>
</div>
<div class="container-fluid">
    <img src="~/images/camping/Camp01.jpg" class="img-responsive col-md-3 top10" />
    <img src="~/images/camping/Camp02.jpg" class="img-responsive col-md-3 top10" />
    <img src="~/images/camping/Camp03.jpg" class="img-responsive col-md-3 top10" />
    <img src="~/images/camping/Camp04.jpg" class="img-responsive col-md-3 top10" />
    <img src="~/images/camping/Camp05.jpg" class="img-responsive col-md-3 top10" />
</div>
