@{
    ViewData["Title"] = "Campsite Finder";
}
<div>
    <div class="">
        <div class="row">
            <div class="">
                <h1 class="text-center">Welcome to Campsite Finder</h1>
                <h3 class="text-center">The invite only campsite crowdsourcing site</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-2"></div>
            <div class="col-md-4 col-xs-8 top10">To access this site a verified member of the site must issue a one time use pin to create an account. From there you will gain access to our database of BLM and other primative campsites.</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-2"></div>
            <div class="col-md-4 col-xs-8 top10">Remember, The more sites we share the easier it will be to find the perfect site for camping. So, please share your sites and clean up after your self.</div>
        </div>
    </div>
</div>