@{
    ViewData["Title"] = "CampCrowd";
}
<div>
    <table class="table">
        <tr class="row">
            <td>
                <h1 class="text-center">Welcome to CrowdCamp</h1>
                <h3 class="text-center">The invite only campsite crowdsourcing site</h3>
            </td>
        </tr>
        <tr class="row table-responsive">
            <td class="col-sm-6 text-left">To access this site a verified member of the site must issue a one time use pin to create an account. From there you will gain access to our database of BLM and other primative campsites.</td>
        </tr>
        <tr class="row">
            <td class="col-sm-6">Remember, The more sites we share the easier it will be to find the perfect site for camping. So, please share your sites and clean up after your self.</td>
        </tr>
    </table>
</div>