@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CS4790A2.Models.Site
<div style="margin-top:10px;">
    <div class="col-md-6 col-xs-12">
        <form asp-action="SiteForm" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="siteName">Site name:</label>
                <input class="form-control" asp-for="siteName" />
            </div>
            <div class="form-group">
                <label asp-for="siteLandType">Site landType: (BLM, USFS, etc...)</label>
                <input class="form-control" asp-for="siteLandType" />
            </div>
            <div class="form-group">
                <label asp-for="siteLat">Site latitude: (Select on Map)</label>
                <input class="form-control" readonly asp-for="siteLat" />
            </div>
            <div class="form-group">
                <label asp-for="siteLong">Site longitude: (Select on Map)</label>
                <input class="form-control" readonly asp-for="siteLong" />
            </div>
            <div class="form-group">
                <label asp-for="siteDescription">Site description:</label>
                <textarea class="form-control" asp-for="siteDescription"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="siteWater">Water available onsite?</label>
                
                <input class="form-control" asp-for="siteWater" />
            </div>
            <div class="form-group">
                <label asp-for="siteGas">Miles to nearest gas station?</label>
                <input class="form-control" asp-for="siteGas" />
            </div>
            <div class="form-group">
                <label asp-for="siteOffroad">Offroad vehicle access only</label>
                <input class="form-control" asp-for="siteOffroad" />
            </div>

            <div class="form-group">
                <label asp-for="siteUses">Site uses: (Hunting, Hiking, etc..)</label>
                <input class="form-control" asp-for="siteUses" />
            </div>
            <div class="form-group">
                <label asp-for="siteSubmiterEmail">Your email:</label>
                <input class="form-control" asp-for="siteSubmiterEmail" />
            </div>
            <div class="form-group">
                <label>Is site level?</label>
                <input class="form-control" asp-for="siteLevel" />
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Submit Site</button>
            </div>
        </form>
        <br />
        <br />

    </div>
    <div class="col-md-6 col-xs-12">
        <div id="map" style="width:100%;height:50vh;"></div>
    </div>

</div>




<script>
    var marker;
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(41.195004, -111.942070);
        var mapOptions = { center: myCenter, zoom: 5 };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(map, event.latLng);
        });
    }

    function placeMarker(map, location) {
        if (marker) {
            marker.setPosition(location);
        } else {
            marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
        /*
          var infowindow = new google.maps.InfoWindow({
          content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
        });
          */
        updateLatLong(location.lat(), location.lng());
    }

    function updateLatLong(lat, lng) {
        var dDirLat;
        var dDirLong;
        var dDegLat;
        var dDegLong;
        var dMinLat;
        var dMinLong;
        var dSecLat;
        var dSecLong;

        dDirLat = lat < 0 ? "S" : "N";
        dDirLong = lng < 0 ? "W" : "E";

        lat = Math.abs(lat);
        lng = Math.abs(lng);

        dDegLat = Math.floor(lat);
        dDegLong = Math.floor(lng);

        dSecLat = (lat - dDegLat) * 3600;
        dSecLong = (lng - dDegLong) * 3600;
      

        dMinLat = Math.floor(dSecLat / 60);
        dMinLong = Math.floor(dSecLong / 60);

        dSecLat = Math.floor(dSecLat - (dMinLat * 60));
        dSecLong = Math.floor(dSecLong - (dMinLong * 60));
        
        document.querySelector("#siteLat").value = dDegLat + "° " + dMinLat + "\' " + dSecLat + "\"" + dDirLat;
        document.querySelector("#siteLong").value = dDegLong + "° " + dMinLong + "\' " + dSecLong + "\"" + dDirLong;

    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtfgo1CUqPTn2EV8m39gAm8x6xqVb92KE&callback=myMap"></script>